include /components/inputs/button/button.pug

mixin calendar({addInput = true, type="single", placeholder = "ДД.ММ.ГГГГ"} = {})
  div(class="calendar" class=attributes.class)
    - var id = attributes.id
    if (!attributes.id)
      - var id = "default"
    //- I could pass a parent's ID to this so it'll target dropdown input or whatever
    //- this is for input only
    if (addInput)
      input(type="text" id=id data-type=type readonly=true placeholder=placeholder).calendar-input
      //- +button({label: "очистить", styles: ["text"]}).calendar-button
      //- +button({label: "применить", styles: ["text"]}).calendar-button
    else
      div(id="example").calendar-input__example

