
//- rearrange params, name is definitely optional an is used only if it's a named group
//- but anyways checkboxes won't appear w/o heading? 
//- can make dynamic components mixins (input+label etc)
mixin checkbox({label, desc, isChecked})
  //- probably for rich checkboxes i can just check desc
  - var id = attributes.id
    div.checkbox
      //-need to have such name so it'll better represent element
      input(id=id name=id, type="checkbox" checked=isChecked).checkbox__input
      +checkboxSvg().checkbox__icon
      if (!desc)
        label(for=id).checkbox__label= label || "def"
      else
        div.checkbox_rich
          //-fix this too
          label(for=id).checkbox__label.checkbox__label_rich= label
            span.checkbox__description= desc || "desc"


mixin checkboxGroup({name, checkboxes, isNamed = false, isExpandable = false, isRich = false, isClosed = true})
  - var id = attributes.id
  - var Expandable = ""
  - var nameExpandable = ""
  - var listExpandable = ""
  - if (isExpandable) {
  -   expandable = "checkbox-group_expandable";
  -   nameExpandable = "checkbox-group__name_expandable";
  -   listExpandable = "checkbox-group__list_expandable";
  - }
  fieldset.checkbox-group(class=expandable)
    if (isNamed)
      legend(class="controls-label checkbox-group__name" class=nameExpandable)= name
      //- idk but width should be fixed. inline blocks should be ok 
    ul(class="checkbox-group__list" class=listExpandable)
      - for (let ch of checkboxes)
        li.checkbox-group__row
          +checkbox({label: ch.label, desc: ch.desc, isChecked: ch.isChecked})(id=ch.id)

//- mixin checkboxGroup({name, labels, ids, isNamed = false, isExpandable = false, isRich = false, isClosed = true})

mixin expandableCheckbox(params)
  //- {name, labels = [], ids = [], isClosed = true}
  //- +checkboxGroup(params)

//descriptions will be a list of objects
mixin richCheckbox({name, labels, ids})
  //- +checkboxGroup({name: name, labels: labels, ids: ids, isNamed: true, isRich: true})

mixin checkboxSvg()
  svg(class!=attributes.class xmlns='http://www.w3.org/2000/svg', width='10', height='11', fill='none')
    path(fill='url(#ch-0)', d='m1.46 4.4 4.25 4.25-1.42 1.41L.05 5.82l1.41-1.41Z')
    path(fill='url(#ch-1)', d='m8.54 3 1.41 1.4-5.66 5.66-1.41-1.41 5.66-5.66Z')
    defs
      linearGradient#ch-0(x1='7.83', x2='2.17', y1='2.29', y2='7.94', gradientunits='userSpaceOnUse')
        stop(stop-color='#BC9CFF')
        stop(offset='1', stop-color='#8BA4F9')
      linearGradient#ch-1(x1='7.83', x2='2.17', y1='2.29', y2='7.94', gradientunits='userSpaceOnUse')
        stop(stop-color='#BC9CFF')
        stop(offset='1', stop-color='#8BA4F9')

