include ../button/button.pug
//- actually I need a dropdown for the date too
mixin dropdown({type, label, placeholder, menuItems, initialState, isClearable = false})
  - var id = attributes.id
  - var classes = attributes.class
  - var state = initialState //- 
  .dropdown
    //- default
    label(for=id).controls-label= label
    input(id=id, type="text",  
    readonly="readonly", name=id, placeholder=placeholder,
    class=`text-field dropdown__input ${state ? 'dropdown__input_' + state : ""}` )
    //- if it has menu
    if (menuItems)
      ul(class=`dropdown__menu ${state ? 'dropdown__menu_' + state : ""}`)
        each item in menuItems
          li.dropdown__row
            p(class="label dropdown__text")= item.name
            .dropdown__controls
              +button({label: "-", isDisabled: item.value === 0})(type="button").dropdown__menu-button
              p(class="label dropdown__text")= item.value
              +button({label: "+"})(type="button").dropdown__menu-button
        //- fix this
        if (isClearable)
          li(class=`dropdown__menu__state-controls 
          ${isClearable ? "" : "dropdown__menu__state-controls_hidden"}`)
            //- if there are any items "clear" button will be visible
            - let hidden = !menuItems.some(x => x.value);
            +button({label: "очистить", styles: ["text"]})(class = hidden ? 'dropdown__menu__clear-button_hidden' : null)
            +button({label: "применить", styles: ["text"]})
