mixin toggleGroup({name, toggles})
  fieldset.toggle-group
    if (addName)
      legend.toggle-group__name= name
    each t in toggles
      .toggle-group__row
        +toggle(t)

mixin toggle({id, label, isToggled})
  div.toggle
    input(id=id name=id, type="checkbox", checked=isToggled).toggle__input.rounded-rectangle
    label(for=id).toggle__label= label